.btn-add {
	margin: 10px;
}
.btn-reset {
    margin-left: 10px;
}
.h-title {
	color: green;
	font-weight: bold;
	font-size: 30px;
	text-align: center;
}

.btn-delete-item {
    border: none;
    background: unset;
    color: #e23434;
    margin-top:5px; 
}
.btn-custom-option {
    font-size: 22px;
}
.btn-option:after {
    content: "";
    clear:both;
}
.btn-option{
    width: 95px;
    margin: 0 auto;
}
.cls-search {
    margin-left: -14px;
    margin-top: 2px;
}
.btn-pencil{
    font-size: 18px;
}
.btn-option .btn-edit {
    margin-top: 12px;
    margin-left: 21px;
}
.form-delete{
    margin-top: 3px;
}
.ml-10 {
    margin-left: 10px;
}
/*search*/
.form-search{
    width: 80%;
    margin-bottom: 5px;
}
.input-search {
    width: 50%;
    border: 2px solid #ccc;
    font-size: 16px;
    float:left;
}
.container-search {

}
.btn-search {

}
/*end search*/
.s-15{
    font-size: 20px;
}
.fs {
    font-size: :20px;
    margin-left: 10px;
    margin-bottom: 10px;
}
.format-2D {
    background-color: violet;
    padding: 10px;
    color:white;
    font-weight: bold; 
    border-radius: 5px;
}
.format-3D {
    background-color: green;
    padding: 10px;
    color:white;
    font-weight: bold; 
    border-radius: 5px;
}
.format-4D {
    background-color: blue;
    padding: 10px;
    color:white;
    font-weight: bold;
    border-radius: 5px; 
}
.format-5D {
    background-color: red;
    padding: 10px;
    color:white;
    font-weight: bold;
    border-radius: 5px; 
}
.images-film {
    width: 50px;
    height:60px;
}
.message {
    display: none;
    color: red;
}
.clr{
    clear:both;
}